h1[id]::before,
h2[id]::before,
h3[id]::before,
h4[id]::before,
h5[id]::before {
  display: none;
  height: 0;
  margin: 0
}

h2 {
  background: #f07328;
  padding: 5px 10px;
}

h2 a,
h3 a {
  display: block;
}

h2 a,
h2 a:active,
h2 a:focus,
h2 a:hover {
  color: #ffffff;
}

h3[id] {
  background: #554488;
  color: #ffffff;
  font-weight: 400;
  max-width: 600px;
  padding: 5px 10px;
}
