---
title: "Not everyone has a home office"
author: Sara Kassabian
author_gitlab: skassabian
author_twitter: sarakassabian
categories: culture
image_title: '/images/blogimages/home-office/homeofficecover2.jpg'
description: "GitLab team members share how they make their unique workspaces work for them."
tags: inside GitLab, remote work
cta_button_text: 'Join us for our first user conferences in Brooklyn and London!'
cta_button_link: '/events/commit/'
twitter_text: "All-remote means the sky's the limit on your workplace possibilities"
featured: yes
postType: content marketing
ee_cta: false
merch_banner_destination_url: "/events/commit/"
merch_banner_image_source: "/images/merchandising-content/gitlab-commit-london-vertical.png"
merch_banner_body_title: "London calling"
merch_banner_body_content: "Join us in London on October 9 for our user conference, GitLab Commit."
merch_banner_cta_text: "Register now"
merch_sidebar_destination_url: "/events/commit/"
merch_sidebar_image_source: "/images/merchandising-content/gitlab-commit-london-horizontal.png"
merch_sidebar_body_title: "GitLab Commit London"
merch_sidebar_body_content: "Join our user conference on October 9!"
merch_sidebar_cta_text: "Register now"
---

_At GitLab, our team doesn’t wake up at the same time and commute the same roads to sit in the same office. In fact, some of our team members don’t have an office at all! As a globally distributed company with an all-remote workforce, we have an exceptionally diverse set of team members spread across six continents. In this series, we explore how GitLab team members use the autonomy our company affords them to create workspaces that suit their lifestyle and cater to their hierarchy of needs: whether that involves creating a cozy and personalized home office space, or diving into the unknown by working while traveling._

<%= partial "includes/blog/blog-merch-sidebar" %>

In my first job out of college as a reporter, I worked in a tiny office, which was actually a converted closet in the far back corner of the suburban office building. It was so cold that I had blankets, sweaters, a hot water kettle, and a space heater that hummed even in the middle of the blistering summer. Fast-forward past working at tiny desks in an elementary school classroom, a shared desk scenario in a big San Francisco office building (my snow parka stayed with me at the office), a dubious apartment-turned-company-office setup to today: where I work from a home office in [Oakland, California](https://en.wikipedia.org/wiki/Oakland,_California) and control my own thermostat. Best of all, I get to work alongside my longtime colleague and frequent video call interrupter, [Milly](/company/team-pets/#154-milly).

Like me, organic search manager [Shane Rice](/company/team/#shanerice) works primarily from a home office, but unlike me he likes to keep his office on the cool side, in terms of temperature and decor.

“Living in [Florida](https://en.wikipedia.org/wiki/Pensacola,_Florida), I put a lot of thought into keeping my office comfortable. When we converted the building from a shed, we added insulation in the ceiling and walls to save energy and help keep the temperature cozy as I work,” says Shane. “I use a wall-mounted AC during the summer and a space heater during the winter.”

Anyone who has been on a Zoom call with Shane will remember his eye-catching decor, and the most recent addition to his family and the GitLab pets cohort, [Hendrix](https://grabs.shanerice.com/lcFp8n).

![shanerice](/images/blogimages/home-office/view_from_desk.jpg){: .shadow.small.center}

“This space is all about the things I love. I’ve got a bulletin board with memories, mostly from my kids. I save their drawings and cards and pin them up there,” says Shane. “The rest of the walls have posters and toys I've collected over the years. I framed my posters to show up on my video calls, and they're a great conversation starter when I'm meeting someone for the first time.”

![stickers](/images/blogimages/home-office/door.jpg){: .shadow.small.center}
"One of my favorite things to get when I travel for work are stickers, but I hate to use them on my laptop because I know I won’t use it forever," says Shane. "Instead of saving my stickers, I decided to put them on my office door. Now I can take them with us if we ever move."
{: .note.text-center}

But not everyone at GitLab works from a home office. In fact, we have many team members that worked at home for a while, but now use a shared workplace, like [Alessio Caiazza](/company/team/#nolith), senior backend Infrastructure engineer.

Alessio, who is based in [Florence, Italy](https://en.wikipedia.org/wiki/Florence), worked from home during his wife’s pregnancy and for the first six months after his son was born. “I loved that period, staying home in a quiet place, with my standing desk and multi-monitor setup,” Alessio said. “Being able to take care of my wife first, and my son later on. I'll always be grateful to GitLab for this opportunity.”

But [working from home with children can be challenging](/blog/2019/08/01/working-remotely-with-children-at-home/) and isn't the best option for everyone. After a while, Alessio realized he needed some time and space to transition from dad mode to engineer mode, and moved his setup to a coworking space. “I used to say that working is the thing that happens between changing diapers. Also having less time for social interaction forced me to search for other adults during working hours. So now I have the best of the two worlds, I'm a happy dad and a happy engineer.”

![florence](/images/blogimages/home-office/alessio.JPG){: .shadow.small.center}
While Alessio has a nice setup in his usual coworking space, on this day he was driven outside into the summer heat after the AC failed in his building, making it too hot to handle.
{: .note.text-center}

## On the road with GitLab

While many GitLab team members work from an consistent office setup, we have a subset of team members that have surrendered a cozy home office and sleek coworking space to work from the open road.

[Nicole Schwartz](/company/team/#nicoleschwartz), product manager at GitLab, is embarking on a zig-zagging road trip across the United States, visiting GitLab team members and speaking at conferences. You might expect that life on the road means unpredictable working conditions, but Nicole has discovered that in most cases there is a coworking space or cafe near where she’s located for the day.

![hotel](/images/blogimages/home-office/nicole_hotel.jpg){: .shadow.small.center}
Most hotel rooms have WiFi, so Nicole typically starts her mornings in the hotel before moving on to a local cafe.
{: .note.text-center}

“I try to go for a local cafe if Yelp says they have WiFi, but in a pinch I’ll go to Panera, Starbucks, McDonalds,” Nicole says. “Once I had to drive over an hour to find a Starbucks! There have been occasions I have had to tether from my phone (GoogleFi) or call in on my phone; neither option is ideal.”

When you’re highly mobile, the scenery changes quickly and the working conditions aren't always glamorous. While writing in about her experience, Nicole was sitting on a pretty uncomfortable chair with a tiny desk at a local coffee shop in Pittsburg, Kansas. She wasn’t able to bring her [laptop stand](https://www.therooststand.com/) with her because there wasn’t room in her backpack, and there was some teenagers chatting and a baby crying in the background: “Eh, it happens,” she writes.

### The key to working on the road: flexibility and resourcefulness

[Kerri Miller](/company/team/#kerrizor), [Create](/stages-devops-lifecycle/create/) backend engineer, spends about 40% of her time away from her homebase in Seattle, Washington, adventuring across North America by motorcycle. Kerri's work schedule varies depending upon the conditions. Generally, Kerri tends to wake early and work for a few hours where she's lodging before heading out on her motorcycle, wrapping up any remaining tasks in the evening. If she's someplace hot, she'll wake early to travel and then work in coffee shops or public libraries in the afternoon.

One of Kerri's favorite workplace setups was in a small town where the only publicly available WiFi was at the local bakery/coffee shop.

"Recognizing this fact, they offered a 'WiFi only' option on their menu, where for $5 you’d get unlimited internet access for the day, and access to a small RV to the side where they had set up several desks and tables and comfy chairs for the community," Kerri says. "Large windows overlooked a prairie filled with sheep."

![morning sheep](/images/blogimages/home-office/morning_sheep.jpg){: .shadow.small.center}
"You can't get this view from WeWork!" says Kerri.
{: .note.text-center}

Both Kerri and Nicole note that the trick to having a successful cross-country journey is a broad and distributed network of friends and colleagues. Kerri generally shares her travel plans in advance on the relevant GitLab Slack channels and on Twitter to see who she might visit on the [next leg of her journey](http://motozor.com/). Similarly, Nicole has been using the [GitLab Visiting Grant](/handbook/incentives/#visiting-grant) and setting up coworking days with our colleagues across the United States.

Currently dispatching from the scenic backdrop of [Copper Harbor, Michigan](https://en.wikipedia.org/wiki/Copper_Harbor,_Michigan), serverless engineering manager [Nicholas Klick](/company/team/#nicholasklick) has been working from his backpack for the past seven years.

![nicholasklick](/images/blogimages/home-office/nicholasklick.JPG){: .shadow.small.center}
Nicholas is always in search of good WiFi, bringing a Verizon MiFi as a backup.
{: .note.text-center}

Though he did grab a desk at a local coworking space where he spends two to three days a week, his spirit is free to roam while his career continues to grow working all-remote at GitLab.

_In the second part of our series, we'll explore how some GitLab team members are going out of their comfort zone and integrating global travel into their workflows and augmenting their workplaces (and expectations) accordingly._

[Cover photo](https://unsplash.com/photos/GaBDdA63GcQ) by [Roberto Nickson](https://unsplash.com/@rpnickson?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com/search/photos/home-office?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText).
{: .note}

<%= partial "includes/blog/blog-merch-banner" %>
